## 3. Collaborative Filtering (협업 필터링 : 사용자 리뷰 기반)

나 : 주토피아, up

다른 사람 : up, 주토피아, 인사이드 아웃

In [1]:
import surprise
surprise.__version__

'1.1.3'

In [1]:
import pandas as pd
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [2]:
ratings = pd.read_csv("ratings_small.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
ratings["rating"].min()

0.5

In [4]:
ratings["rating"].max()

5.0

In [5]:
reader = Reader(rating_scale=(0.5, 5))

In [6]:
data = Dataset.load_from_df(ratings[["userId", "movieId", "rating"]], reader=reader)
data

In [7]:
svd = SVD(random_state=0)

In [8]:
cross_validate(svd, data, measures=["RMSE", "MAE"], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8942  0.8947  0.8984  0.8968  0.9039  0.8976  0.0035
MAE (testset)     0.6891  0.6928  0.6941  0.6871  0.6929  0.6912  0.0027
Fit time          0.82    0.83    0.83    0.86    0.84    0.84    0.01
Test time         0.11    0.16    0.10    0.16    0.10    0.13    0.03

{'test_rmse': array([0.89423987, 0.8947386 , 0.89842842, 0.89676028, 0.90393693]),
 'test_mae': array([0.68909893, 0.69284825, 0.69413151, 0.68711952, 0.6929264 ]),
 'fit_time': (0.8241431713104248,
  0.8301525115966797,
  0.8313074111938477,
  0.8624475002288818,
  0.8371555805206299),
 'test_time': (0.10525107383728027,
  0.1575765609741211,
  0.1016993522644043,
  0.1593310832977295,
  0.10371994972229004)}

교차 검증 ( K - Fold 교차 검증 )

100개 데이터

A : 1~20
B : 21~40
C : 41~60
D : 61~80
E : 81~100

ABCD (train set), E (test set)
ABCE (train set), D (test set)
ABDE (train set), C (test set)
ACDE (train set), B (test set)
BCDE (train set), A (test set)

In [9]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [10]:
ratings[ratings["userId"] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [13]:
svd.predict(1, 1029) # userId = 1 인 사람이 movie id = 1029 인 영화에 대해서 실제 평가 3점일 때, 예측 평가 점수

Prediction(uid=1, iid=1029, r_ui=None, est=2.8814455446761933, details={'was_impossible': False})